* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

.title-text {
    font-size: 40px;
    text-align: center;
}


/*navbar*/

.fa.fa-cart-plus {
    color: black;
    font-size: 1.8em;
}

.fa.fa-cart-plus:hover {
    color: orange;
}

.navbar-icon.d-flex i:hover {
    color: orange;
    border: none;
    transition: transform 1s ease, color 1s ease;
}

.header button:hover {
    color: orange;
    border: none;
    transition: transform 2s ease, color 2s ease;
}

.pulsate {
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: .3;
    color: #000;
}

.header,
.pageinfo {
    margin-right: 5%;
    margin-left: 5%;
}

i.fa {
    font-size: 2.2em;
    margin-left: 2%;
    color: white;
}

i.far.fa-user {
    color: white;
    border: black;
    font-size: 2.2em;
    border-bottom-color: black;
}

i.far.fa-user:hover,
i.fa:hover,
.navbar-toggler:hover {
    color: orange;
    border: black;
    font-size: 2.2em;
    transform: scale(1.0);
}

.navbar-brand img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.nav-icon.d-flex i {
    margin-left: 45%;
}

.navbar-toggler.pulsate {
    animation: pulsate 9s ease-in-out;
    animation-iteration-count: infinite;
    opacity: .3;
    color: orange;
}


/* ----cart-items------- */


/* .container.content-section {
    margin: 80px auto;
}

.container {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
} */

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    color: white;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.far.fa-times-circle {
    color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    font-size: 2.2em;
    margin-left: 50%;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-left: 23%;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: center;
    margin-top: 10px;
    margin-right: 10%;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}


/* 
td {
    padding: 10px 5px;
}

.cart-quantity {
    width: 40px;
    height: 30px;
    padding: 5px;
    text-align: center;
}

.far.fa-times-circle {
    color: #ff523b;
    font-size: 2.2em;
    text-align: center;
    border: none;
}

td button:hover {
    border: none;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin-right: 12%;
}

.total-price table {
    border-top: 3px solid gray;
    width: 100%;
    max-width: 30%;
}

td:last-child {
    text-align: center;
} */

.sbtotal {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .cart-info p {
        display: none;
    }
    .total-price table {
        max-width: 100%;
    }
    table {
        width: 100%;
    }
    .cart-item-title {
        display: none;
    }
    .cart-item-image {
        max-width: 50%;
        max-height: 80%;
    }
}


/* Move to top icon */

.input--group-button--beat {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    color: black;
    width: 58px;
    height: 58px;
    -webkit-transform-origin: 65px 50px;
    transform-origin: 65px 50px;
    -webkit-animation: beat 1s ease-in-out infinite alternate;
    animation: beat 1s ease-in-out infinite alternate;
    opacity: .18;
    border-radius: 50%;
    background: #ff5309;
}

@keyframes beat {
    to {
        transform: scale(1.1);
    }
}

.fas.fa-arrow-circle-up {
    display: none;
    position: fixed;
    width: 43px;
    height: 43px;
    bottom: 27px;
    right: 38px;
    color: red;
    border: none;
    border-radius: 50%;
    font-size: 28pt;
}


/* //Move to top icon */