body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

.form--banner .close {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 5%;
    top: 4%;
    margin-bottom: 50px;
    display: block;
    position: absolute;
}

.close {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

a {
    outline: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

a {
    background-color: transparent;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 40rem) {
    .form--banner {
        display: none;
        margin-top: 60px;
        cursor: pointer;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        max-width: none;
        border-radius: 0;
    }
}

.form--banner .input--group-button input[type="submit"] {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 40px 20px 0;
    white-space: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 50%;
    background: #ff6301 url(/themes/custom/bbq_nation/css/../assets/images/serving-dish.svg) no-repeat;
    background-position: center 15px;
    background-size: 60px;
    font-size: 8px;
    font-weight: 700;
    line-height: 11px;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

input {
    line-height: normal;
    border: 0;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

button,
input {
    line-height: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

input {
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet input[type="submit" i]:disabled {
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), white);
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

user agent stylesheet input[type="submit" i] {
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

user agent stylesheet input:disabled {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    border-color: rgba(118, 118, 118, 0.3);
}

user agent stylesheet input[type="submit" i] {
    padding: 1px 6px;
}

user agent stylesheet input:disabled {
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    cursor: default;
    background-color: -internal-light-dark(rgb(235, 235, 228), rgb(45, 45, 45));
}

user agent stylesheet input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

user agent stylesheet input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

@media only screen and (max-width: 40rem) {
    .banner-block .form--banner {
        margin-top: 60px;
    }
}

.form--banner {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 360px;
    height: 490px;
    padding: 40px 30px;
    border-radius: 20px;
    background: #fff;
    -webkit-box-shadow: 0 3px 20px rgb(0 0 0 / 5%);
    box-shadow: 0 3px 20px rgb(0 0 0 / 5%);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

body {
    margin: auto;
    padding-top: 90px;
    color: #000;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    line-height: 1;
}

.form--banner .input--group-button input[type="submit"] {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 40px 20px 0;
    white-space: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 50%;
    background: #ff6301 url(images/logo.png) no-repeat;
    background-position: center 15px;
    background-size: 60px;
    font-size: 8px;
    font-weight: 700;
    line-height: 11px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.datepicker .select2-selection {
    padding: 2px 0 8px 25px;
    width: 120px;
}

.form--banner .select2-selection {
    border: 0 !important;
    border-bottom: 1px solid rgba(252, 68, 18, .3) !important;
    border-radius: 0 !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-selection {
    padding: 2px 15px 8px 0;
    border: 1px solid rgba(252, 68, 18, .3) !important;
    border-radius: 4px !important;
    font-size: 12px;
    height: auto !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}