* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

.title-text {
    font-size: 40px;
    text-align: center;
}


/*navbar*/

.nav-icon.d-flex i:hover {
    color: orange;
    border: none;
    transition: transform 1s ease, color 1s ease;
}

.header button:hover {
    color: orange;
    border: none;
    transition: transform 2s ease, color 2s ease;
}


/*     header */

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(32, 30, 30, 0.625), rgba(32, 30, 30, 0.625)), url('images/hero.jpg') center/cover no-repeat fixed;
    margin-top: auto;
}

i.fa {
    color: white;
    float: left;
    font-size: 2.2em;
}

i.fa:hover,
i.far.fa-user:hover {
    color: orange;
}

i.far.fa-user {
    color: white;
    border: black;
    font-size: 2.2em;
    margin-top: 2%;
    margin-right: 4%;
    border-bottom-color: black;
    float: right;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.hero .title {
    color: #fff;
    font-size: 50px;
}

.hero-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color: #fff;
    cursor: pointer;
    border: 2px solid orange;
    margin-top: 10px;
    position: relative;
}

.hero-button:hover {
    background: #fff;
    color: orange;
    border: none;
    cursor: pointer;
}

.pulsate {
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: .3;
    color: #000;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}


/*..............end of header....................*/


/*.....about us......*/

#about {
    padding: 40px;
}

.about {
    margin: 30px 0;
    display: flex;
}

.about-icon .fas {
    font-size: 60px;
    color: orange;
    margin-right: 20px;
}

.about-subtitle {
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}

.about-info {
    margin-top: 10px;
    line-height: 1.5;
}

.about-icon:hover .fas,
.about-subtitle:hover {
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: #cd6100;
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    .about-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about {
        flex: 0 0 calc(50% - 16px);
    }
}

@media screen and (min-width :972px) {
    .about {
        flex: 0 0 calc(33.3% - 16px);
    }
}


/*..........................end of about us........................*/


/*.......menu section...........*/

.menu-image {
    min-height: 80vh;
    background: url('images/pexels-william-choquette-2641886.jpg') center/cover fixed no-repeat;
}

.menu-text {
    min-height: 80vh;
    align-items: center;
    background: orange;
    columns: #000;
    padding: 40px 0;
    ;
}

.menu-text-center {
    width: 90%;
    margin: 0 auto;
}

.menu-text h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.menu-text p {
    margin: 20px 0;
    line-height: 2;
}

.menu-text a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color: orange;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 200px;
}

.menu-text a:hover {
    color: orange;
    background: #fff;
    border: none;
}

@media screen and (min-width :776px) {
    .menu {
        display: flex;
    }
    .menu-text {
        flex: 0 0 30%;
    }
    .menu-image {
        flex: 0 0 70%;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    }
    .menu {
        background: orange;
    }
}


/*...................end of menu section......................*/


/*..... social icons.......*/

#social-icons {
    height: 150px;
    background: #fff;
    text-align: center;
    padding: 50px 0 50px 0;
}

#social-icons a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 2s ease, color 2s ease;
}

#social-icons a:hover {
    transform: translateY(-20px);
}

.facebook {
    color: #3b5998;
}

.twitter {
    color: #38a1f3;
}

.instagram {
    color: #e1306c;
}

.plus {
    color: #db4a39;
}


/*..................end of social icons.....................*/


/*==========Numbers/ Counters=======*/

.number {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('./images/pexels-alexy-almond-3756523.jpg') center/cover fixed no-repeat;
    padding: 60px 0;
    color: #fff;
}

.number p {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.number:hover {
    color: orange;
}

.num {
    color: white;
}

.num i:hover,
.num p:hover,
.num h3:hover {
    color: orange;
    transform: scale(1.3);
    transition: ease-in-out 1s;
    text-decoration: none;
}

.number .fas {
    font-size: 60px;
    margin: 20px 0;
}

.number h3 {
    text-transform: uppercase;
}

@media screen and (min-width:576PX) {
    #numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    #numbers {
        grid-template-columns: repeat(4, 1fr);
    }
}


/*==========Cards Section========*/

#food {
    padding: 20px;
}

.food-container {
    max-width: 70%;
    max-height: 70%;
    margin: 0 auto;
}

.food-card {
    position: relative;
    background: linear-gradient(rgba(205, 96, 0, 0.7), rgba(205, 96, 0, 0.7));
    margin: 20px 0;
    color: #000;
    overflow: hidden;
    padding: 3px;
    border-radius: 12px;
    border: 1px solid orange;
    box-shadow: 2px 3px 1px 1px #cd6100;
}

#food img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 4s;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
}

.img-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: #000;
    transition: opacity 4s;
}

.img-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.food-card:hover img {
    opacity: 0.4;
    transform: scale(1.3);
}

.food-card:hover .img-text,
.food-card:hover .img-footer {
    opacity: 1;
}

.food-btn,
.btn.btn-dark {
    display: inline-block;
    background: #000;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 32px;
    color: #fff;
    font-weight: bold;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    outline: none;
}

.food-btn:hover,
.btn.btn-dark:hover {
    color: orange;
    background: #ffff;
    border: #000;
    outline: none;
}

.fas {
    font-size: 30px;
}

@media screen and (min-width: 576px) {
    .food-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
    }
}

@media screen and (min-width: 992px) {
    .food-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-column-gap: 16px;
    }
}


/*========End of Cards Section=======*/


/*=========Gallery Section============*/

.carousel-inner {
    width: 100%;
    height: 100%;
    /* margin-left: 6%;
    margin-right: 6%; */
}

#gallery {
    background: #fff;
    margin-right: 16%;
    margin-left: 16%;
    height: 20%;
}

.carousel-item {
    background: linear-gradient(rgb(rgba(241, 161, 13)) rgb(rgba(255, 165, 0)));
}

.carousel-item img {
    display: block;
    width: 100%;
    opacity: 0.8;
}

.carousel.slide {
    height: 20%;
}

.carousel-item img:hover {
    opacity: 1.0;
}

@media screen and (min-width:576px) {
    #gallery-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:992px) {
    #gallery-center {
        grid-template-columns: repeat(4, 1fr);
    }
}


/*==========Footer========*/

.footer {
    background: #000;
    text-align: center;
}

.footer .text {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}


/* Move to top icon */

.input--group-button--beat {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    color: black;
    width: 58px;
    height: 58px;
    -webkit-transform-origin: 65px 50px;
    transform-origin: 65px 50px;
    -webkit-animation: beat 1s ease-in-out infinite alternate;
    animation: beat 1s ease-in-out infinite alternate;
    opacity: .18;
    border-radius: 50%;
    background: #ff5309;
}

@keyframes beat {
    to {
        transform: scale(1.1);
    }
}

.fas.fa-arrow-circle-up {
    display: none;
    position: fixed;
    width: 43px;
    height: 43px;
    bottom: 27px;
    right: 38px;
    color: red;
    border: none;
    border-radius: 50%;
    font-size: 28pt;
}


/* //Move to top icon */